<!DOCTYPE html>
<html>
    <head>
        <title>weixin js sdk test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="zh-CN" />
        <meta id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=no" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta content="telephone=no" name="format-detection">
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
         wx.config({
             debug: true,
             timestamp: {{.timestamp}},
             appId: "{{.appId}}",
             nonceStr: "{{.noncestr}}",
             signature: "{{.signature}}",
             jsApiList: [
                 'checkJsApi',
                 'onMenuShareTimeline',
                 'onMenuShareAppMessage',
                 'onMenuShareQQ',
                 'onMenuShareWeibo'
             ]
        });
            var shareOptions = {
            title: '分享赢好礼',
            desc: '分享赢好礼',
            link: "{{.baseuri}}",
            imgUrl: 'http://5teacher.com/asserts/images/mbg_01.jpg',
            type: '',
            dataUrl: '',
            success: function() {
                alert('share succeed');
            },
            cancel: function() {

            }
        };
        wx.ready(function() {
            wx.onMenuShareAppMessage(shareOptions);
            wx.onMenuShareTimeline(shareOptions);
        });
        </script>
    </head>
    <body>
    </body>
</html>
